@font-face {
    font-family: "GT Flexa Mono Trial VF";
    src: url("./fonts/GT-Flexa-Mono-Trial-VF.ttf") format("truetype");
}

@font-face {
    font-family: "Romie";
    src: url("./fonts/Romie-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "GT Flexa Mono Trial VF", monospace;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
    font-size: 60px;
    font-family: "Romie", sans-serif;
}

#journalForm {
    display: flex;
    flex-direction: column;
}

#journalInput {
    font-family: "GT Flexa Mono Trial VF", monospace;
    background-color: rgb(239, 239, 239);
    color: #000;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 0;
    resize: vertical;
    min-height: 50px;
    margin-bottom: 15px;
}

button[type="submit"],
#clearHistory {
    font-family: "GT Flexa Mono Trial VF", monospace;
    background-color: rgb(239, 239, 239);
    color: #000;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover,
#clearHistory:hover {
    background-color: grey;
}

#clustersOutput {
    margin-top: 30px;
}

.cluster {
    background-color: rgb(239, 239, 239);
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0px;
}

.cluster h3 {
    font-family: "Romie", sans-serif;
    margin-bottom: 10px;
    color: #000000;
}

.cluster ul {
    list-style-type: disc;
    padding-left: 20px;
}
